{
  "env": {
    "browser": false,
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-var": "error",
    "prefer-arrow-callback": "error",
    "lines-between-class-members": ["error", "always"]
  },
  "parserOptions": {
    "ecmaVersion": 9
  }
}
